.wrapper {
    height: 100vh;
}

.menu {
    display: flex;
    flex-direction: row;
    position: fixed;
    justify-content: space-between;
    background-color: black;
    height: 150px;
    color: white;
    width: 100%;
}

.menu_logo {
    font-size: 60px;
    background: linear-gradient(90deg, rgba(246, 246, 246, 1) 0%, rgba(88, 112, 214, 1) 67%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-left: 50px;
}

.menu_element {
    text-decoration: none;
    margin: 20px;
}

ul {
    margin-right: 10vw;
    list-style: none;
    display: flex;
    justify-content: flex-end;
}